@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Fira+Sans:wght@500&family=Inconsolata:wght@200&family=JetBrains+Mono:wght@300&family=Manrope:wght@300&family=Playpen+Sans:wght@200;500;600;800&display=swap');
.exam {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  font-family: 'Playpen Sans', cursive;
  .wrapper-exam {
    position: relative;
    display: inline;
    width: 820px;
    height: 80vh;
    background-color: rgb(255, 248, 246);
    color: rgb(31, 28, 58);
    border-radius: 20px;
    .question {
      height: 150px;
      padding: 5px;
      margin: 10px;
      // background-color: rgb(75, 221, 194);
      border-radius: 99px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      .title {
        justify-content: center;
        font-weight: bold;
      }

      .question-content {
        padding: 10px;
      }
    }

    .answers {
      display: grid;
      row-gap: 10px;
      width: 800px;
      margin: 0 10px;
    }

    .answer {
      width: 800px;
      height: 72px;
      display: flex;
      align-items: center;
      border-radius: 999px;
      background-color: rgb(38, 197, 218);

      .index {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: rgb(49, 228, 225);
        cursor: pointer;
      }

      .ans-content {
        color: rgb(31, 28, 58);
        background-color: transparent;
        width: 90%;
        height: 60px;
        font-size: 18px;
        justify-content: flex-start;
      }
    }
    .btn-move {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      
    }
    .pre-btn {
      margin-left: 10px;
      left: 0;
    }
    .next-btn {
      margin-right: 10px;
      right: 0;
    }
  }
  .wrapper-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    width: 300px;
    height: 500px;

  }
}
