
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Fira+Sans:wght@500&family=Inconsolata:wght@200&family=JetBrains+Mono:wght@300&family=Manrope:wght@300&family=Playpen+Sans:wght@200;500;600;800&display=swap');

header {
    display: flex;
    width: 100%;
    height: 58px;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: left;
    padding: 4px;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    font-family: 'Playpen Sans', cursive;
    background-color: rgb(248, 248, 248);
    z-index: 10;
}
.brand  {
    padding-left: 100px;
     
}