@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Fira+Sans:wght@500&family=Inconsolata:wght@200&family=JetBrains+Mono:wght@300&family=Manrope:wght@300&family=Playpen+Sans:wght@200;500;600;800&display=swap');

.result {
  font-style: 20;
  display: flex;
  position: relative;
  width: 60%;

  font-family: 'Playpen Sans', cursive;
  .img-wrapper {
    left: 0;
    align-items: center;
    .congraIcon {
      width: 500px;
    }
  }
  .notice-score {
    position: absolute;
    align-items: center;
    right: 100px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    .congra-mess {
      font-size: 50px;
    }
    .score {
      font-size: 30px;
    }
  }
  .btn-back {
    position: absolute;
    background-color: rgb(25, 32, 75);
    bottom: 0;
    right: 19px;
  }
}
